.contact-item{
    display: flex;
}

.icon{
    max-width: 2rem;
}

.location-image{
    max-width: 15rem;
}

.contact-upper{
    display: flex;
    gap: 1rem;
}
/* maybe keep!*/
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2501013c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #410505d2;
  border-radius: 20px;

}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0222b;
}
