.logo-img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  .dual-color-border {
    background-image: linear-gradient(to right, red 50%, blue 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s ease;
  }

  .border-image-slice {
    border-image-slice: 1;
  }
  
  .border-image-source {
    border-image-source: url('/Fitzys_Fades/client/public/images/textstripe.jpg');
  }